
body{
  color:#543A3A;
  background-color:#FAFAFA;
}
img{
  display:inline-block;
}

.burlySlider{
  overflow: hidden;
  position: relative;
}
.cycleBtn{
  font-size:25px;
   top: calc(50% - 1em);
   position:absolute;
   width:2em;
   height:2em;
   background:#ebebeb;
}
.cycleBtn.next{
  right:1em;
}
.cycleBtn.prev{
  left:1em;
}
.flexWrapper{
  display:flex;
  align-items:center;
  justify-content: center;
  position:relative;
}
